<!DOCTYPE html>
<html>
<head>
  <title>Friction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=.7">
</head>
<body>
  
  
 
  
  
  
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
  
  <div style="width:30em;margin-left:auto; margin-right:auto;">
<%= yield %>
  </div>
  
  
  
</body>
</html>
